<ion-header>
  <ion-toolbar>
    <ion-title>login MVE-SAMU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item>
			<ion-label position="floating">E-mail</ion-label>
			<ion-input type="text" [(ngmodel)]="e-mail"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Constraseña</ion-label>
			<ion-input type="pasword" [(ngmodel)]="password"></ion-input>
		</ion-item>
	</ion-list>
	<div>
		<ion-button expand="block" padding color="tertiary" (click)="pocesslogin()">Iniciar sesion</ion-button>
		<ion-button expand="block" padding color="tertiary" fill="outline" (click)="formRegister()">Registrarse</ion-button>
 	</div>

</ion-content>